.Rproj.user
.Rhistory
.RData
.Ruserdata
clean_ufos_cache/
clean_ufos_files/
FinalWriteup_cache/
FinalWriteup_files/
*_cache
*_files
final_submission/data/ufo_clean_final.csv
final_submission/data/ufo_data_final.csv
